@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

body {
    width: 100vh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    max-width: 500px;
    margin: auto
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.content {
    max-width: 500px;
    margin: auto;
    -webkit-box-shadow: 0 0 90px -7px rgba(0, 0, 0, .63);
    -moz-box-shadow: 0 0 90px -7px rgba(0, 0, 0, .63);
    box-shadow: 0 0 90px -7px rgba(0, 0, 0, .63);
    border-radius: 140px 140px 20px 140px
}

h1,
h6 {
    /* font-family: 'Comfortaa', cursive;!important; */
    font-family: 'Marck Script', cursive;
    font-weight: 300 !important;
    text-align: center;
    font-size: 2em;
    right: 0;
    left: 0;
    display: inline-block
}

img {
    top: 45%;
    border-radius: 50%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    vertical-align: middle
}

.element {
    display: block;
    content: "";
    clear: both
}

.container {
    display: flex;
    align-items: center
}

.fa {
    padding-top: 1vh;
    color: #fff;
    font-size: 2rem
}